<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" media="all" 
          href="../../css/general.css" th:href="@{/css/general.css}" />
  </head>

  <body>
  	<header th:fragment="~{ fragment/cabecera :: header"></header>
  	<nav th:fragment="~{ fragment/barraNavegacion :: nav"></nav>
  	
  	<main>
  
  	</main>	
	    
  	<footer></footer>
  </body>
</html>