<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: fragmentoHead"></head>

  <body class= "filaCentrado">
  
  	<header  th:replace=" fragments/cabecera :: header"></header>
  	<nav  th:replace=" fragments/barraNavegacion :: nav "></nav>
  
  	<main class="filaCentrado" id="main">
  
	  	<a th:if="${moselTapas}== null" th:href="@{/sorteoST/suerte}" class="botonSorteo">	
	  		<button th:text="#{suerte}" id="botonSorteo" class="botonSorteo" ></button> 
	  	</a>
	  	<h2 th:if="${moselTapas}!= null"  th:text= "#{resultaso}" ></h2>
		<div th:replace="fragments/retales :: tablaTapas"></div>

	</main>	
	    
  	<footer></footer>
  	
  	
  </body>
</html>